# Sublime Text
*.sublime-*

# WSGI socket file from .ini
wake.sock

# see config.yaml.example
*config.yaml
# see images.yaml.example
*images.yaml

*.png
!(success,failure_already_running,failure_could_not_start).png

db/*
*.db

# Python files
*venv*
*__pycache__/*
*.pyc