# Use the URL of your choice below
URL = '/'
# Use the systemd service associated with Wings of Vaivora
VAIVORA_SERVICE = 'vaivora'
# Use the name of the directory containing the venv and script
VAIVORA_DIR = 'wings-of-vaivora'